# This workflow destroys the Terraform cloud infrastructure.
# Steps:
# 1. Fetch backend config from SSM Parameter Store
# 2. Initialize Terraform with remote backend
# 3. Destroy resources in the specified environment
name: Destroy Infrastructure Pipeline
description: Destroys Terraform cloud infrastructure in the specified environment.

on:
  workflow_dispatch: # Manual trigger so you only run destroy when needed
    inputs:
      region:
        description: "Region to destroy resources in (i.e. us-east-1, eu-west-2, etc.)"
        type: string
        required: true

permissions:
  id-token: write # Required for github oidc authentication with AWS
  contents: read # Allow repository contents to be checked out

jobs:
  destroy:
    name: Destroy Terraform
    runs-on: ubuntu-latest
    # Maps branch to environment (main=dev, test=test, prod=prod, global-infra=global-infra)
    environment: ${{ github.ref == 'refs/heads/main' && 'dev' ||
      github.ref == 'refs/heads/test' && 'test' ||
      github.ref == 'refs/heads/prod' && 'prod' ||
      github.ref == 'refs/heads/global-infra' && 'global-infra' }}
    env:
      ENVIRONMENT: ${{ github.ref == 'refs/heads/main' && 'dev' ||
        github.ref == 'refs/heads/test' && 'test' ||
        github.ref == 'refs/heads/prod' && 'prod' ||
        github.ref == 'refs/heads/global-infra' && 'global-infra' }}

    defaults:
      run:
        working-directory: infrastructure # Keep runs scoped to environment code

    steps:
      # 1. Checkout the repo
      - name: Checkout
        uses: actions/checkout@v4

      # 2. Configure AWS credentials using github environment secrets
      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-region: ${{ github.event.inputs.region }}
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}

      # 3. Fetch backend config from SSM Parameter Store
      # - Retrieves global S3/DynamoDB state backend
      # - Creates backend config file for terraform init
      - name: Fetch Backend Config from SSM Parameter Store
        run: |
          STATE_BUCKET=$(aws ssm get-parameter --name "/tf/global-infra/backend/state-bucket" --query "Parameter.Value" --output text --region ${{ github.event.inputs.region }})
          APP_TABLE=$(aws ssm get-parameter --name "/tf/global-infra/backend/app-table" --query "Parameter.Value" --output text --region ${{ github.event.inputs.region }} 2>/dev/null || echo "") # ignores if not found
          REGION=$(aws ssm get-parameter --name "/tf/global-infra/backend/region" --query "Parameter.Value" --output text --region ${{ github.event.inputs.region }})
          echo "APP_TABLE=$APP_TABLE" >> $GITHUB_ENV # export for 'Disable deletion protection (Environment)' step

          cat > ${{ env.ENVIRONMENT }}.hcl <<EOF
          bucket         = "$STATE_BUCKET"
          key            = "${{ env.ENVIRONMENT }}/terraform.tfstate"
          region         = "$REGION"
          dynamodb_table = "$APP_TABLE"
          encrypt        = true
          EOF

      # 4. Install Terraform
      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: "1.12.2" # Pin to specific version

      # 5a. Initialize Terraform on github runner
      - name: Init Terraform (Global)
        if: ${{ env.ENVIRONMENT == 'global-infra' }}
        working-directory: infrastructure/backend/global
        run: terraform init -var-file=${{ env.ENVIRONMENT }}.tfvars

      # 5b. Initialize Terraform on github runner
      - name: Init Terraform (Environment)
        if: ${{ env.ENVIRONMENT != 'global-infra' }}
        run: terraform init -backend-config=${{ env.ENVIRONMENT }}.hcl

        # 6a. Disable deletion protection (if enabled)
        # - get state table from .tfvars file
      - name: Disable deletion protection (Global)
        if: ${{ env.ENVIRONMENT == 'global-infra' }}
        working-directory: infrastructure/backend/global
        run: |
          STATE_TABLE=$(grep state_table_name global-infra.tfvars | cut -d'"' -f2)-${ENVIRONMENT}
          aws dynamodb update-table --table-name $STATE_TABLE --no-deletion-protection-enabled --region ${{ github.event.inputs.region }}

        # 6b. Disable deletion protection (if enabled)
        # - get app table from SSM Parameter Store
      - name: Disable deletion protection (Environment)
        if: ${{ env.ENVIRONMENT != 'global-infra' }}
        run: aws dynamodb update-table --table-name $APP_TABLE --no-deletion-protection-enabled --region ${{ github.event.inputs.region }}

      # 7a. Destroy resources
      - name: Destroy (Global)
        if: ${{ env.ENVIRONMENT == 'global-infra' }}
        working-directory: infrastructure/backend/global
        run: terraform destroy -var="environment=${{ env.ENVIRONMENT }}" -var="aws_account_id=${{ secrets.AWS_ACCOUNT_ID }}" -auto-approve

      # 7b. Destroy resources
      - name: Destroy (Environment)
        if: ${{ env.ENVIRONMENT != 'global-infra' }}
        run: terraform destroy -var="environment=${{ env.ENVIRONMENT }}" -var="aws_account_id=${{ secrets.AWS_ACCOUNT_ID }}" -auto-approve
