# This workflow destroys the Terraform cloud infrastructure.
# Steps:
# 1. Fetch backend config from SSM Parameter Store
# 2. Initialize Terraform with remote backend
# 3. Destroy resources in the specified environment
name: Destroy Infrastructure Pipeline
description: Destroys Terraform cloud infrastructure in the specified environment.

on:
  workflow_dispatch: # Manual trigger so you only run destroy when needed
    inputs:
      region:
        description: "Region to destroy resources in (i.e. us-east-1, eu-west-2, etc.)"
        type: string
        required: true

permissions:
  id-token: write # Required for github oidc authentication with AWS
  contents: read # Allow repository contents to be checked out

jobs:
  destroy:
    name: Destroy Terraform
    runs-on: ubuntu-latest
    # Maps branch to environment (dev=dev, test=test, main=prod)
    # necessary to set environment per branch
    environment: ${{ github.ref == 'refs/heads/main' && 'prod' ||
      github.ref == 'refs/heads/test' && 'test' ||
      github.ref == 'refs/heads/dev' && 'dev' }}
    env:
      ENVIRONMENT: ${{ github.ref == 'refs/heads/main' && 'prod' ||
        github.ref == 'refs/heads/test' && 'test' ||
        github.ref == 'refs/heads/dev' && 'dev' }}

    defaults:
      run:
        working-directory: infrastructure # Keep runs scoped to environment code

    steps:
      # 1. Checkout the repo
      - name: Checkout
        uses: actions/checkout@v4

      # 2. Configure AWS credentials using github environment secrets
      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-region: ${{ github.event.inputs.region }}
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}

      # 3. Fetch backend config from SSM Parameter Store
      # - Retrieves global S3/DynamoDB state backend
      # - Creates backend config file for terraform init
      - name: Fetch Backend Config from SSM
        run: |
          STATE_BUCKET=$(aws ssm get-parameter --name "/tf/global-infra/backend/state-bucket" --query "Parameter.Value" --output text --region ${{ github.event.inputs.region }})
          STATE_TABLE=$(aws ssm get-parameter --name "/tf/global-infra/backend/state-table" --query "Parameter.Value" --output text --region ${{ github.event.inputs.region }})
          APP_TABLE=$(aws ssm get-parameter --name "/tf/global-infra/backend/app-table-${{ env.ENVIRONMENT }}" --query "Parameter.Value" --output text --region ${{ github.event.inputs.region }} 2>/dev/null || echo "") # Handle case where app table doesn't exist (destroy global-infra before main infra)
          REGION=$(aws ssm get-parameter --name "/tf/global-infra/backend/region" --query "Parameter.Value" --output text --region ${{ github.event.inputs.region }})

          echo "STATE_BUCKET=$STATE_BUCKET" >> $GITHUB_ENV
          echo "STATE_TABLE=$STATE_TABLE" >> $GITHUB_ENV
          echo "APP_TABLE=$APP_TABLE" >> $GITHUB_ENV
          echo "REGION=$REGION" >> $GITHUB_ENV

          echo "TF_VAR_state_bucket_name=$STATE_BUCKET" >> $GITHUB_ENV

          cat > $ENVIRONMENT.hcl <<EOF
          bucket         = "$STATE_BUCKET"
          key            = "$ENVIRONMENT/terraform.tfstate"
          region         = "$REGION"
          dynamodb_table = "$STATE_TABLE"
          encrypt        = true
          EOF

      # 4. Install Terraform
      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: "1.12.2" # Pin to specific version

      # 5. Initialize Terraform on github runner
      - name: Terraform Init (Environment)
        run: terraform init -backend-config=${{ env.ENVIRONMENT }}.hcl

      # # 6. Disable deletion protection (if enabled)
      # # - get app table from SSM Parameter Store
      # - name: Disable deletion protection (Environment)
      #   run: aws dynamodb update-table --table-name $APP_TABLE --no-deletion-protection-enabled --region ${{ github.event.inputs.region }}

      # 7b. Destroy resources
      - name: Destroy (Environment)
        run: terraform destroy -var="environment=${{ env.ENVIRONMENT }}" -var="aws_account_id=${{ vars.AWS_ACCOUNT_ID }}" -auto-approve -lock=false # -lock=false to avoid locking issues on destroy
